<%- include("partials/header") %>

<h1>Register</h1>


<form action="/register" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<% if(user) { %>
		<% if(user.role === 'admin') { %>	
			<input type="text" name="role" placeholder="role">
		<% } %>
	<% } %>
	<button>
		Submit
	</button>
</form>


<%- include("partials/footer") %>