
.width-50-percent {
    width: 50%;
    margin: 0;
    padding: 0;
}

.no-margin {
    margin: 0
}

.btn {
    width: 100%;
}

.left {
	display: inline-block
}

.float-left {
    float: left;
}

.hide {
    visibility: hidden;
}

#messages {
    display: block;
}

#fname {
    width: 100%;
}

.sidebar {
    border: 1px black dotted;
    height: 65vh;
    padding: 0;
}

canvas {
    width: 100%;
    height: 85vh;
}

#messages {
    margin: 5px 20px;
    padding: 0;
}

#message-input {
    position: absolute;
    bottom: 0;    
    width: 100%;
}

.width-100 {
    width: 100%;
}


